body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid; /* Added after Tool report*/
    grid-template-rows: auto 1fr auto; /* Added after Tool report*/
    min-height: 100vh; /* Added */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    grid-row: 1; /* Added after Tool report*/
}

nav {
    background-color: black;
    text-align: center;
    padding: 30px 0;
    grid-row: 2; /* Added after Tool report*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    color: #ddd;
    text-decoration: underline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    display: grid; /* Changed after Tool report*/
    grid-template-columns: 2fr 1fr; /* Changed after Tool report*/
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 3; /* Added after Tool report*/
}

article {
    background-color: #f0f0f0;
    padding: 20px;
}

.main-content {
    padding: 20px;
}

aside {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 90px;
    grid-row: 4; /* Added after Tool report*/
}
